openapi: 3.0.3
info:
  contact:
    name: 开放平台文档中心
    url: https://opendocs.alipay.com/open-v3/053sd1
  description: 支付宝开放平台v3协议文档
  title: 支付宝开放平台API
  version: 2025-12-01
servers:
- description: Production server
  url: https://openapi.alipay.com
- description: Sandbox server
  url: http://openapi.sandbox.dl.alipaydev.com
paths:
  /v3/alios/open/auto/info/query:
    get:
      description: 用户授权商户可获取用户的车辆信息后商户可通过openapi获取车辆信息
      operationId: alios.open.auto.info.query
      parameters:
      - allowEmptyValue: true
        description: 用户授权令牌
        explode: true
        in: query
        name: auth_token
        required: false
        schema:
          type: string
        style: form
      - description: 蚂蚁统一会员ID
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          example: "33424562"
          type: string
        style: form
      - description: 经度
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      - description: 设备token
        explode: true
        in: query
        name: device_token
        required: false
        schema:
          example: cn-shanghai.e81fe6ffe0214049be4da405b3e78849
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AliosOpenAutoInfoQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alios_open_auto_info_query_default_response'
          description: 请求失败
      summary: 查询阿里车的车辆信息
      tags:
      - alios.open.auto.info
      x-accepts: application/json
  /v3/alipay/boss/fnc/invoice/apply:
    post:
      description: 根据账单申请应收发票开票
      operationId: alipay.boss.fnc.invoice.apply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncInvoiceApplyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncInvoiceApplyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_invoice_apply_default_response'
          description: 请求失败
      summary: 应收开票申请(根据账单申请)
      tags:
      - alipay.boss.fnc.invoice
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/invoice/batchquery:
    post:
      description: 根据综合查询条件查询对应发票信息
      operationId: alipay.boss.fnc.invoice.batchquery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncInvoiceBatchqueryModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncInvoiceBatchqueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_invoice_batchquery_default_response'
          description: 请求失败
      summary: 应收发票综合查询
      tags:
      - alipay.boss.fnc.invoice
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/invoice/query:
    get:
      description: 根据发票综合查询接口（alipay.boss.fnc.invoice.batchquery）查询到发票列表后，再根据每个发票对应的发票id查询发票的详细信息
      operationId: alipay.boss.fnc.invoice.query
      parameters:
      - description: 查询ID：用于标示一张发票，通过发票综合查询可以查询到该ID。
        explode: true
        in: query
        name: invoice_id
        required: false
        schema:
          example: 如：2017060210122000040400270002815483
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncInvoiceQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_invoice_query_default_response'
          description: 请求失败
      summary: 根据发票ID查询发票信息
      tags:
      - alipay.boss.fnc.invoice
      x-accepts: application/json
  /v3/alipay/boss/fnc/invoicereceipt/batchquery:
    post:
      description: 根据月账单号集合和来源查询开票单据及金额汇总
      operationId: alipay.boss.fnc.invoicereceipt.batchquery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncInvoicereceiptBatchqueryModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncInvoicereceiptBatchqueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_invoicereceipt_batchquery_default_response'
          description: 请求失败
      summary: 根据月账单号集合和来源查询开票单据及金额汇总
      tags:
      - alipay.boss.fnc.invoicereceipt
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/invoicereceipt/create:
    post:
      description: 月帐单创建消息同步
      operationId: alipay.boss.fnc.invoicereceipt.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncInvoicereceiptCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncInvoicereceiptCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_invoicereceipt_create_default_response'
          description: 请求失败
      summary: 账单变更同步接口月帐单创建消息同步
      tags:
      - alipay.boss.fnc.invoicereceipt
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/userinvoiceinfo/create:
    post:
      description: 申请开票alipay.boss.fnc.invoice.create之前需要维护的开票资料信息
      operationId: alipay.boss.fnc.userinvoiceinfo.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncUserinvoiceinfoCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncUserinvoiceinfoCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_userinvoiceinfo_create_default_response'
          description: 请求失败
      summary: 新增客户开票资料
      tags:
      - alipay.boss.fnc.userinvoiceinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/userinvoiceinfo/modify:
    post:
      description: 通过查询用户的开票资料（alipay.boss.fnc.userinvoiceinfo.query）后进行开票资料的修改
      operationId: alipay.boss.fnc.userinvoiceinfo.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayBossFncUserinvoiceinfoModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncUserinvoiceinfoModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_userinvoiceinfo_modify_default_response'
          description: 请求失败
      summary: 修改用户开票资料
      tags:
      - alipay.boss.fnc.userinvoiceinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/boss/fnc/userinvoiceinfo/query:
    get:
      description: 根据PID获取相关的开票资料
      operationId: alipay.boss.fnc.userinvoiceinfo.query
      parameters:
      - description: 开票pid/mid/ou，唯一标识商户信息/集团用户信息的ID
        explode: true
        in: query
        name: pid
        required: false
        schema:
          example: "2088001007243670"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayBossFncUserinvoiceinfoQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_boss_fnc_userinvoiceinfo_query_default_response'
          description: 请求失败
      summary: 根据PID获取相关的开票资料
      tags:
      - alipay.boss.fnc.userinvoiceinfo
      x-accepts: application/json
  /v3/alipay/commerce/cityfacilitator/station/query:
    get:
      description: 商户App获取地铁购票开放购票的站点和禁止到达的站点
      operationId: alipay.commerce.cityfacilitator.station.query
      parameters:
      - description: "城市编码请参考查询 <a href=\"http://www.mca.gov.cn/article/sj/xzqh/\"\
          >中华人民共和国行政区划代码</a>。\t已支持城市：广州 440100，深圳 440300，杭州330100。"
        explode: true
        in: query
        name: city_code
        required: false
        schema:
          example: "440300"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceCityfacilitatorStationQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_cityfacilitator_station_query_default_response'
          description: 请求失败
      summary: 地铁购票站点数据查询
      tags:
      - alipay.commerce.cityfacilitator.station
      x-accepts: application/json
  /v3/alipay/commerce/cityfacilitator/voucher/batchquery:
    post:
      description: 商户APP调该接口批量查询订单状态
      operationId: alipay.commerce.cityfacilitator.voucher.batchquery
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherBatchqueryModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherBatchqueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_cityfacilitator_voucher_batchquery_default_response'
          description: 请求失败
      summary: 地铁购票订单批量查询
      tags:
      - alipay.commerce.cityfacilitator.voucher
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/cityfacilitator/voucher/generate:
    post:
      description: 商户APP调快捷支付付款后，获取地铁购票的核销码
      operationId: alipay.commerce.cityfacilitator.voucher.generate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherGenerateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherGenerateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_cityfacilitator_voucher_generate_default_response'
          description: 请求失败
      summary: 地铁购票核销码发码
      tags:
      - alipay.commerce.cityfacilitator.voucher
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/cityfacilitator/voucher/refund:
    post:
      description: 地铁购票，商户发码后，调该接口从中间户退款
      operationId: alipay.commerce.cityfacilitator.voucher.refund
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherRefundModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceCityfacilitatorVoucherRefundResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_cityfacilitator_voucher_refund_default_response'
          description: 请求失败
      summary: 地铁购票发码退款
      tags:
      - alipay.commerce.cityfacilitator.voucher
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/balance/downloadurl/query:
    get:
      description: 对账单文件下载接口
      operationId: alipay.commerce.ec.balance.downloadurl.query
      parameters:
      - description: 企业ID
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088123456789000"
          type: string
        style: form
      - description: 共同账户ID
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          example: "2088000295356628"
          type: string
        style: form
      - description: 授权签约协议号
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20205820659822371223"
          type: string
        style: form
      - description: 账单类型
        explode: true
        in: query
        name: bill_type
        required: false
        schema:
          example: enterprisetrade
          type: string
        style: form
      - description: 账单时间
        explode: true
        in: query
        name: bill_date
        required: false
        schema:
          example: yyyy-MM-dd
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcBalanceDownloadurlQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_balance_downloadurl_query_default_response'
          description: 请求失败
      summary: 对账单文件下载接口
      tags:
      - alipay.commerce.ec.balance.downloadurl
      x-accepts: application/json
  /v3/alipay/commerce/ec/balance/period/modify:
    post:
      description: 用于在企业码B端后台创建的企业调整月对账单账期
      operationId: alipay.commerce.ec.balance.period.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcBalancePeriodModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcBalancePeriodModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_balance_period_modify_default_response'
          description: 请求失败
      summary: 企业码月对账单账期修改
      tags:
      - alipay.commerce.ec.balance.period
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/consume/detail/query:
    post:
      description: 用于企业查询企业码账单详情
      operationId: alipay.commerce.ec.consume.detail.query
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcConsumeDetailQueryModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcConsumeDetailQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_consume_detail_query_default_response'
          description: 请求失败
      summary: 企业码账单详情查询
      tags:
      - alipay.commerce.ec.consume.detail
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/department:
    post:
      description: 创建企业部门
      operationId: alipay.commerce.ec.department.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcDepartmentCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcDepartmentCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_department_create_default_response'
          description: 请求失败
      summary: 企业部门创建
      tags:
      - alipay.commerce.ec.department
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: 修改企业部门信息
      operationId: alipay.commerce.ec.department.info.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcDepartmentInfoModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcDepartmentInfoModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_department_info_modify_default_response'
          description: 请求失败
      summary: 企业部门信息修改
      tags:
      - alipay.commerce.ec.department.info
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/department/delete:
    post:
      description: 删除企业部门
      operationId: alipay.commerce.ec.department.delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcDepartmentDeleteModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcDepartmentDeleteResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_department_delete_default_response'
          description: 请求失败
      summary: 企业部门删除
      tags:
      - alipay.commerce.ec.department
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/department/info/query:
    get:
      description: 根据部门id查询企业下某个部门的详细信息
      operationId: alipay.commerce.ec.department.info.query
      parameters:
      - description: 企业id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088441363102941"
          type: string
        style: form
      - description: 部门id
        explode: true
        in: query
        name: department_id
        required: false
        schema:
          example: "1001094000039142"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcDepartmentInfoQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_department_info_query_default_response'
          description: 请求失败
      summary: 查询部门详情
      tags:
      - alipay.commerce.ec.department.info
      x-accepts: application/json
  /v3/alipay/commerce/ec/department/sublist/query:
    get:
      description: 查询某个部门的子部门id列表，支持查询根部门id
      operationId: alipay.commerce.ec.department.sublist.query
      parameters:
      - description: 企业id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088441363102941"
          type: string
        style: form
      - description: 部门id，特殊值 -1 表示查询根部门id
        explode: true
        in: query
        name: department_id
        required: false
        schema:
          example: "1001094000039142"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcDepartmentSublistQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_department_sublist_query_default_response'
          description: 请求失败
      summary: 查询子部门id列表
      tags:
      - alipay.commerce.ec.department.sublist
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/add:
    post:
      description: 企业添加员工，并返回员工签约激活链接和吱口令
      operationId: alipay.commerce.ec.employee.add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeAddModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeAddResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_add_default_response'
          description: 请求失败
      summary: 添加员工
      tags:
      - alipay.commerce.ec.employee
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/delete:
    post:
      description: 删除员工并解绑因公付
      operationId: alipay.commerce.ec.employee.delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeDeleteModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeDeleteResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_delete_default_response'
          description: 请求失败
      summary: 删除员工
      tags:
      - alipay.commerce.ec.employee
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/idlist/query:
    get:
      description: 查询某个部门下员工id列表
      operationId: alipay.commerce.ec.employee.idlist.query
      parameters:
      - description: 企业id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088441363102941"
          type: string
        style: form
      - description: 部门id
        explode: true
        in: query
        name: department_id
        required: false
        schema:
          example: "1001094000039142"
          type: string
        style: form
      - description: 查询页数
        explode: true
        in: query
        name: page_num
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: 每页查询大小，限制最大为1000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: 1000
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeIdlistQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_idlist_query_default_response'
          description: 请求失败
      summary: 查询部门下员工id列表
      tags:
      - alipay.commerce.ec.employee.idlist
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/info:
    put:
      description: 修改员工基础信息
      operationId: alipay.commerce.ec.employee.info.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeInfoModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeInfoModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_info_modify_default_response'
          description: 请求失败
      summary: 修改员工基础信息
      tags:
      - alipay.commerce.ec.employee.info
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/info/query:
    get:
      description: 根据员工id或员工uid查询企业下某个员工的详细信息
      operationId: alipay.commerce.ec.employee.info.query
      parameters:
      - description: 企业id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088441363102941"
          type: string
        style: form
      - description: 蚂蚁统一会员ID
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      - description: 支付宝用户ID
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          example: "2088501304519332"
          type: string
        style: form
      - description: 员工id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          example: "2284200000000000"
          type: string
        style: form
      - description: 员工手机号码
        explode: true
        in: query
        name: mobile
        required: false
        schema:
          example: 134XXXX2526
          type: string
        style: form
      - description: 支付宝登录号（手机号或邮箱）
        explode: true
        in: query
        name: alipay_logon_id
        required: false
        schema:
          example: 134xxxx2526
          type: string
        style: form
      - description: 员工证件类型
        explode: true
        in: query
        name: employee_cert_type
        required: false
        schema:
          example: IDENTITY_CARD
          type: string
        style: form
      - description: 员工证件号码
        explode: true
        in: query
        name: employee_cert_no
        required: false
        schema:
          example: "220000000000000000"
          type: string
        style: form
      - description: 员工邮箱
        explode: true
        in: query
        name: employee_email
        required: false
        schema:
          example: 123@xxx.com
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeInfoQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_info_query_default_response'
          description: 请求失败
      summary: 查询员工详情
      tags:
      - alipay.commerce.ec.employee.info
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/invite:
    get:
      description: 获取员工签约激活链接
      operationId: alipay.commerce.ec.employee.invite.query
      parameters:
      - description: 企业id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088985758939"
          type: string
        style: form
      - description: 企业码员工ID，签约适用对象为指定员工时填写
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          example: "2288099887700000"
          type: string
        style: form
      - description: 用于展示不同的页面文案，使用标准页面文案是无需传值
        explode: true
        in: query
        name: page_content_code
        required: false
        schema:
          example: PCC_STANDARD
          type: string
        style: form
      - description: 代扣签约串。需要签约代扣协议时，必传，返回的签约链接会拼接上代扣签约串。
        explode: true
        in: query
        name: withholding_sign_str
        required: false
        schema:
          example: biz_content=%7B%22access_params%22%3A%7B%22personal_product_code%22%3A%22GENERAL_WITHHOLDING_P%22%2C%22sign_scene%22%3A%22INDUSTRY%7CMULTI_MEDIA%22%7D&sign=111&app_id=2017090501336035&method=alipay.user.agreement.page.sign&version=1.0
          type: string
        style: form
      - description: 是否生成签约吱口令，不传默认为N
        explode: true
        in: query
        name: create_share_code
        required: false
        schema:
          example: "Y"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeInviteQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_invite_query_default_response'
          description: 请求失败
      summary: 获取员工签约激活链接
      tags:
      - alipay.commerce.ec.employee.invite
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/title:
    post:
      description: 批量新增员工抬头关系，单次新增最大一千条
      operationId: alipay.commerce.ec.employee.title.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_title_create_default_response'
          description: 请求失败
      summary: 员工抬头：新增员工抬头关系
      tags:
      - alipay.commerce.ec.employee.title
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: 修改员工抬头信息
      operationId: alipay.commerce.ec.employee.title.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_title_modify_default_response'
          description: 请求失败
      summary: 修改员工抬头信息
      tags:
      - alipay.commerce.ec.employee.title
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/employee/title/delete:
    post:
      description: 对员工抬头关系做失效处理。
      operationId: alipay.commerce.ec.employee.title.delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleDeleteModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEmployeeTitleDeleteResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_employee_title_delete_default_response'
          description: 请求失败
      summary: 员工抬头：失效员工抬头关系
      tags:
      - alipay.commerce.ec.employee.title
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise:
    put:
      description: 修改企业基础信息
      operationId: alipay.commerce.ec.enterprise.info.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEnterpriseInfoModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseInfoModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_info_modify_default_response'
          description: 请求失败
      summary: 修改企业基础信息
      tags:
      - alipay.commerce.ec.enterprise.info
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/address:
    get:
      description: 查询企业地址信息
      operationId: alipay.commerce.ec.enterprise.address.query
      parameters:
      - description: 通过企业码2.0签约接口签约，只填写企业id，无需填写共同账户id和授权签约协议号。
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088501312695783"
          type: string
        style: form
      - description: 通过企业码1.0接口签约的共同账户，和agreement_no搭配使用。
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          example: "2088501312612345"
          type: string
        style: form
      - description: 可通过签约消息获取。配合共同账户id使用，当填写企业共同账户id时，此字段必填。
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20215425001181407500"
          type: string
        style: form
      - description: 地址id
        explode: true
        in: query
        name: address_id
        required: false
        schema:
          example: "1903501312695783"
          type: string
        style: form
      - description: 市
        explode: true
        in: query
        name: city_code
        required: false
        schema:
          example: "310023"
          type: string
        style: form
      - description: 页码从1开始
        explode: true
        in: query
        name: page_num
        required: false
        schema:
          example: 1
          type: integer
        style: form
      - description: 每页数据
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: 20
          type: integer
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAddressQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_address_query_default_response'
          description: 请求失败
      summary: 企业地址查询
      tags:
      - alipay.commerce.ec.enterprise.address
      x-accepts: application/json
    post:
      description: 企业地址添加
      operationId: alipay.commerce.ec.enterprise.address.add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAddressAddModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAddressAddResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_address_add_default_response'
          description: 请求失败
      summary: 企业地址添加
      tags:
      - alipay.commerce.ec.enterprise.address
      x-content-type: application/json
      x-accepts: application/json
    put:
      description: 企业地址修改
      operationId: alipay.commerce.ec.enterprise.address.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAddressModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAddressModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_address_modify_default_response'
          description: 请求失败
      summary: 企业地址修改
      tags:
      - alipay.commerce.ec.enterprise.address
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/agreement:
    get:
      description: 查询企业签约企业码信息
      operationId: alipay.commerce.ec.enterprise.agreement.query
      parameters:
      - description: 企业id；enterprise_id与account_id至少传一个，如果都传了优先使用enterprise_id
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088441399627416"
          type: string
        style: form
      - deprecated: true
        description: 资金共同账号id；enterprise_id与account_id至少传一个，如果都传了优先使用enterprise_id(为兼容企业码1.0老接口保留的字段，已过时，新接客户请使用enterprise_id)
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          example: "2088610274867962"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseAgreementQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_agreement_query_default_response'
          description: 请求失败
      summary: 查询企业签约企业码信息
      tags:
      - alipay.commerce.ec.enterprise.agreement
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/create:
    post:
      description: 企业注册企业码，并返回因公付签约链接，通过该链接，企业可操作完成出资账户绑定
      operationId: alipay.commerce.ec.enterprise.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEnterpriseCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_create_default_response'
          description: 请求失败
      summary: 企业签约注册
      tags:
      - alipay.commerce.ec.enterprise
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/delete:
    post:
      description: 企业注销，清理企业数据
      operationId: alipay.commerce.ec.enterprise.delete
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEcEnterpriseDeleteModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseDeleteResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_delete_default_response'
          description: 请求失败
      summary: 企业注销
      tags:
      - alipay.commerce.ec.enterprise
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/info:
    get:
      description: 查询企业详细信息
      operationId: alipay.commerce.ec.enterprise.info.query
      parameters:
      - description: "企业id,从企业注册等接口获取，和out_biz_no参数二选一，都传优先取企业id"
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "20889490309498"
          type: string
        style: form
      - description: 服务商生成的请求唯一流水号/业务幂等号，和enterprise_id参数二选一，都传优先取企业id
        explode: true
        in: query
        name: out_biz_no
        required: false
        schema:
          example: "2024051000000001"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseInfoQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_info_query_default_response'
          description: 请求失败
      summary: 查询企业详情
      tags:
      - alipay.commerce.ec.enterprise.info
      x-accepts: application/json
  /v3/alipay/commerce/ec/enterprise/unsignurl:
    get:
      description: 企业解约，获取解约链接，点击链接跳转到解约页面，进行解约协议
      operationId: alipay.commerce.ec.enterprise.unsign
      parameters:
      - description: 通过企业码2.0签约接口签约，只填写企业id，无需填写共同账户id和授权签约协议号。
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088123412341234"
          type: string
        style: form
      - deprecated: true
        description: 通过企业码1.0接口签约的共同账户，和agreement_no搭配使用。(为兼容企业码1.0老接口的参数，已过时，新接客户请传企业ID)
        explode: true
        in: query
        name: account_id
        required: false
        schema:
          example: "2088000194958956"
          type: string
        style: form
      - deprecated: true
        description: 可通过签约消息获取。配合共同账户id使用，当填写企业共同账户id时，此字段必填。(为兼容企业码1.0老接口的参数，已过时，新接客户请传企业ID)
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20215425001181407500"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcEnterpriseUnsignResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_enterprise_unsign_default_response'
          description: 请求失败
      summary: 企业解约
      tags:
      - alipay.commerce.ec.enterprise
      x-accepts: application/json
  /v3/alipay/commerce/ec/jointaccountbill/detail/batchquery:
    get:
      description: 分页查询企业账单
      operationId: alipay.commerce.ec.jointaccountbill.detail.batchquery
      parameters:
      - description: 企业ID
        explode: true
        in: query
        name: enterprise_id
        required: false
        schema:
          example: "2088123456789000"
          type: string
        style: form
      - description: 业务场景。不传默认为ISV_DEFAULT
        explode: true
        in: query
        name: biz_scene
        required: false
        schema:
          example: ISV_DEFAULT
          type: string
        style: form
      - description: 员工支付宝UID
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          example: "2088123456789000"
          type: string
        style: form
      - description: 员工支付宝UID
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      - description: 员工id
        explode: true
        in: query
        name: employee_id
        required: false
        schema:
          example: "2288029541813166"
          type: string
        style: form
      - description: 页码
        explode: true
        in: query
        name: page_num
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 每页大小
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "20"
          type: string
        style: form
      - description: 起始日期
        explode: true
        in: query
        name: start_date
        required: false
        schema:
          example: yyyy-MM-dd HH:mm:ss
          type: string
        style: form
      - description: 截止日期
        explode: true
        in: query
        name: end_date
        required: false
        schema:
          example: yyyy-MM-dd HH:mm:ss
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcJointaccountbillDetailBatchqueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_jointaccountbill_detail_batchquery_default_response'
          description: 请求失败
      summary: 企业账单批量分页查询
      tags:
      - alipay.commerce.ec.jointaccountbill.detail
      x-accepts: application/json
  /v3/alipay/commerce/ec/user/enterprise:
    get:
      description: 用户所属企业列表
      operationId: alipay.commerce.ec.user.enterprise.query
      parameters:
      - description: 用户id
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          example: "20889384849393"
          type: string
        style: form
      - description: 用户open_id
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEcUserEnterpriseQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_ec_user_enterprise_query_default_response'
          description: 请求失败
      summary: 用户企业列表
      tags:
      - alipay.commerce.ec.user.enterprise
      x-accepts: application/json
  /v3/alipay/commerce/educate/campus/institutions/add:
    post:
      description: 学校信息入驻
      operationId: alipay.commerce.educate.campus.institutions.add
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEducateCampusInstitutionsAddModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEducateCampusInstitutionsAddResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_educate_campus_institutions_add_default_response'
          description: 请求失败
      summary: 入驻学校信息
      tags:
      - alipay.commerce.educate.campus.institutions
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/educate/campus/institutions/query:
    get:
      description: 可以通过学校库产品查询支付宝系统中是否已存在对应的学校，避免重复入驻，以及通过该接口查询入驻的进度：入驻成功则会返回学校信息，失败则不会返回
      operationId: alipay.commerce.educate.campus.institutions.query
      parameters:
      - description: 学校名称
        explode: true
        in: query
        name: inst_name
        required: false
        schema:
          example: 复旦大学
          type: string
        style: form
      - description: 省份编码，编码标准为中华人民共和国行政区划代码，参见 2020年12月中华人民共和国县以上行政区划代码。
        explode: true
        in: query
        name: province_code
        required: false
        schema:
          example: "370000"
          type: string
        style: form
      - description: 城市编码，编码标准为中华人民共和国行政区划代码，参见 2020年12月中华人民共和国县以上行政区划代码。
        explode: true
        in: query
        name: city_code
        required: false
        schema:
          example: "370900"
          type: string
        style: form
      - description: 学校内标：支付宝内部学校唯一编号。使用内标查询时，默认使用内标进行精确匹配。
        explode: true
        in: query
        name: inst_id
        required: false
        schema:
          example: "2088000139662311"
          type: string
        style: form
      - description: 学校外标：统一社会信用编码或教育部提供的学校标识码。使用学校外标查询时，默认使用外标进行精确匹配。
        explode: true
        in: query
        name: inst_std_code
        required: false
        schema:
          example: "202008016104"
          type: string
        style: form
      - description: "是否使用学校名称模糊匹配进行查询，默认精确匹配。\t枚举值如下：\t1：精确匹配；\t0：模糊匹配"
        explode: true
        in: query
        name: like_property
        required: false
        schema:
          example: "1"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEducateCampusInstitutionsQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_educate_campus_institutions_query_default_response'
          description: 请求失败
      summary: 查询学校信息
      tags:
      - alipay.commerce.educate.campus.institutions
      x-accepts: application/json
  /v3/alipay/commerce/educate/schoolcard/order/sync:
    post:
      description: 校园卡支付订单数据同步
      operationId: alipay.commerce.educate.schoolcard.order.sync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceEducateSchoolcardOrderSyncModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceEducateSchoolcardOrderSyncResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_educate_schoolcard_order_sync_default_response'
          description: 请求失败
      summary: 校园卡支付订单数据同步
      tags:
      - alipay.commerce.educate.schoolcard.order
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/iot/device/report/upload:
    post:
      description: 设备检测报告上传
      operationId: alipay.commerce.iot.device.report.upload
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceIotDeviceReportUploadModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceIotDeviceReportUploadResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_iot_device_report_upload_default_response'
          description: 请求失败
      summary: 设备检测报告上传
      tags:
      - alipay.commerce.iot.device.report
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/iot/sdarttool/message/query:
    get:
      description: isv通过消息id查询消息
      operationId: alipay.commerce.iot.sdarttool.message.query
      parameters:
      - description: 消息ID
        explode: true
        in: query
        name: message_no
        required: false
        schema:
          example: "201911250000021611"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceIotSdarttoolMessageQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_iot_sdarttool_message_query_default_response'
          description: 请求失败
      summary: 消息查询
      tags:
      - alipay.commerce.iot.sdarttool.message
      x-accepts: application/json
  /v3/alipay/commerce/iot/sdarttool/message/send:
    post:
      description: ISV通过此接口向IOT设备推送消息
      operationId: alipay.commerce.iot.sdarttool.message.send
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceIotSdarttoolMessageSendModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceIotSdarttoolMessageSendResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_iot_sdarttool_message_send_default_response'
          description: 请求失败
      summary: IOT消息服务
      tags:
      - alipay.commerce.iot.sdarttool.message
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/invoice/istdwaybill/create:
    post:
      description: 开即时配送订单发票
      operationId: alipay.commerce.logistics.invoice.istdwaybill.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsInvoiceIstdwaybillCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsInvoiceIstdwaybillCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_invoice_istdwaybill_create_default_response'
          description: 请求失败
      summary: 开即时配送订单发票
      tags:
      - alipay.commerce.logistics.invoice.istdwaybill
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/invoice/istdwaybill/query:
    get:
      description: 查询即时配送订单的开票结果
      operationId: alipay.commerce.logistics.invoice.istdwaybill.query
      parameters:
      - description: 即时配送公司编码
        explode: true
        in: query
        name: logistics_code
        required: false
        schema:
          example: FENGNIAO
          type: string
        style: form
      - description: 开票请求流水号
        explode: true
        in: query
        name: out_invoice_request_no
        required: false
        schema:
          example: out_invoice_no_00001
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsInvoiceIstdwaybillQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_invoice_istdwaybill_query_default_response'
          description: 请求失败
      summary: 查询即时配送订单的开票结果
      tags:
      - alipay.commerce.logistics.invoice.istdwaybill
      x-accepts: application/json
  /v3/alipay/commerce/logistics/logisticscompany/instantdelivery/query:
    get:
      description: 查询支付宝支持的即时配送公司
      operationId: alipay.commerce.logistics.logisticscompany.instantdelivery.query
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsLogisticscompanyInstantdeliveryQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_logisticscompany_instantdelivery_query_default_response'
          description: 请求失败
      summary: 查询支付宝支持的即时配送公司
      tags:
      - alipay.commerce.logistics.logisticscompany.instantdelivery
      x-accepts: application/json
  /v3/alipay/commerce/logistics/order/instantdelivery/cancel:
    post:
      description: 取消即时配送订单
      operationId: alipay.commerce.logistics.order.instantdelivery.cancel
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryCancelModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryCancelResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_order_instantdelivery_cancel_default_response'
          description: 请求失败
      summary: 取消即时配送订单
      tags:
      - alipay.commerce.logistics.order.instantdelivery
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/order/instantdelivery/create:
    post:
      description: 下即时配送订单
      operationId: alipay.commerce.logistics.order.instantdelivery.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_order_instantdelivery_create_default_response'
          description: 请求失败
      summary: 下即时配送订单
      tags:
      - alipay.commerce.logistics.order.instantdelivery
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/order/instantdelivery/precreate:
    post:
      description: 预下即时配送订单
      operationId: alipay.commerce.logistics.order.instantdelivery.precreate
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryPrecreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsOrderInstantdeliveryPrecreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_order_instantdelivery_precreate_default_response'
          description: 请求失败
      summary: 预下即时配送订单
      tags:
      - alipay.commerce.logistics.order.instantdelivery
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/order/istdcancel/preconsult:
    post:
      description: 预取消即时配送订单
      operationId: alipay.commerce.logistics.order.istdcancel.preconsult
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsOrderIstdcancelPreconsultModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsOrderIstdcancelPreconsultResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_order_istdcancel_preconsult_default_response'
          description: 请求失败
      summary: 预取消即时配送订单
      tags:
      - alipay.commerce.logistics.order.istdcancel
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/order/istdretry/create:
    post:
      description: 重下即时配送订单
      operationId: alipay.commerce.logistics.order.istdretry.create
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceLogisticsOrderIstdretryCreateModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsOrderIstdretryCreateResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_order_istdretry_create_default_response'
          description: 请求失败
      summary: 重下即时配送订单
      tags:
      - alipay.commerce.logistics.order.istdretry
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/logistics/waybill/istddetail/query:
    get:
      description: 查询即时配送运单详情
      operationId: alipay.commerce.logistics.waybill.istddetail.query
      parameters:
      - description: 商家门店编号
        explode: true
        in: query
        name: shop_no
        required: false
        schema:
          example: shopno001
          type: string
        style: form
      - description: 商家订单号
        explode: true
        in: query
        name: out_order_no
        required: false
        schema:
          example: "2020090411140000000000777000216122"
          type: string
        style: form
      - description: 支付宝订单流水号
        explode: true
        in: query
        name: order_no
        required: false
        schema:
          example: "2020090411130000000000772400280352"
          type: string
        style: form
      - description: 即时配送公司编码
        explode: true
        in: query
        name: logistics_code
        required: false
        schema:
          example: FENGNIAO
          type: string
        style: form
      - description: 即时配送运单编号
        explode: true
        in: query
        name: waybill_no
        required: false
        schema:
          example: waybillno001
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceLogisticsWaybillIstddetailQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_logistics_waybill_istddetail_query_default_response'
          description: 请求失败
      summary: 查询即时配送运单详情
      tags:
      - alipay.commerce.logistics.waybill.istddetail
      x-accepts: application/json
  /v3/alipay/commerce/operation/activity/merchant/modify:
    post:
      description: 商户签约信息修改
      operationId: alipay.commerce.operation.activity.merchant.modify
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceOperationActivityMerchantModifyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceOperationActivityMerchantModifyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_operation_activity_merchant_modify_default_response'
          description: 请求失败
      summary: 商户签约信息修改
      tags:
      - alipay.commerce.operation.activity.merchant
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/operation/activity/merchant/sign:
    post:
      description: 商户签约活动
      operationId: alipay.commerce.operation.activity.merchant.sign
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceOperationActivityMerchantSignModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceOperationActivityMerchantSignResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_operation_activity_merchant_sign_default_response'
          description: 请求失败
      summary: 商户签约活动
      tags:
      - alipay.commerce.operation.activity.merchant
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/operation/activity/merchant/unsign:
    post:
      description: 用户银行商户模式商户解约活动使用
      operationId: alipay.commerce.operation.activity.merchant.unsign
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceOperationActivityMerchantUnsignResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_operation_activity_merchant_unsign_default_response'
          description: 请求失败
      summary: 活动商户解约
      tags:
      - alipay.commerce.operation.activity.merchant
      x-accepts: application/json
  /v3/alipay/commerce/operation/bank/activity/query:
    get:
      description: 银行活动信息查询
      operationId: alipay.commerce.operation.bank.activity.query
      parameters:
      - description: 支付宝openId
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      - description: 蚂蚁统一会员ID
        explode: true
        in: query
        name: user_id
        required: false
        schema:
          example: 208822294389xxxx
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceOperationBankActivityQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_operation_bank_activity_query_default_response'
          description: 请求失败
      summary: 银行活动信息查询
      tags:
      - alipay.commerce.operation.bank.activity
      x-accepts: application/json
  /v3/alipay/commerce/transport/charger/chargerbindinfo/sync:
    post:
      description: 设备运营商通过该接口同步自己阵地中用户绑定充电桩的信息，包含绑定信息，解绑信息，设备状态等等设备信息
      operationId: alipay.commerce.transport.charger.chargerbindinfo.sync
      parameters:
      - allowEmptyValue: true
        description: 用户授权令牌
        explode: true
        in: query
        name: auth_token
        required: false
        schema:
          type: string
        style: form
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceTransportChargerChargerbindinfoSyncModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceTransportChargerChargerbindinfoSyncResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_transport_charger_chargerbindinfo_sync_default_response'
          description: 请求失败
      summary: 充电运营商同步用户绑定充电桩信息接口
      tags:
      - alipay.commerce.transport.charger.chargerbindinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/transport/parking/enterinfo/sync:
    post:
      description: 车辆驶入停车场时，服务商通过此接口配置消息模板内容告知支付宝发送给用户
      operationId: alipay.commerce.transport.parking.enterinfo.sync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceTransportParkingEnterinfoSyncModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceTransportParkingEnterinfoSyncResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_transport_parking_enterinfo_sync_default_response'
          description: 请求失败
      summary: 停车入场模板消息配置
      tags:
      - alipay.commerce.transport.parking.enterinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/transport/parking/exitinfo/sync:
    post:
      description: 用户要驶离停车场时，服务商通过此接口配置消息模板内容告知支付宝发送给用户
      operationId: alipay.commerce.transport.parking.exitinfo.sync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceTransportParkingExitinfoSyncModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceTransportParkingExitinfoSyncResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_transport_parking_exitinfo_sync_default_response'
          description: 请求失败
      summary: 停车离场消息模板配置
      tags:
      - alipay.commerce.transport.parking.exitinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/commerce/transport/parking/paymentinfo/sync:
    post:
      description: 用户在场内支付时，服务商通过此接口配置消息模板内容告知支付宝发送给用户
      operationId: alipay.commerce.transport.parking.paymentinfo.sync
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayCommerceTransportParkingPaymentinfoSyncModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayCommerceTransportParkingPaymentinfoSyncResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_commerce_transport_parking_paymentinfo_sync_default_response'
          description: 请求失败
      summary: 停车支付模板消息配置
      tags:
      - alipay.commerce.transport.parking.paymentinfo
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/data/bill/accountbookereceipt/apply:
    post:
      description: 申请子账本电子回单（子账本业务定制接口）
      operationId: alipay.data.bill.accountbookereceipt.apply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayDataBillAccountbookereceiptApplyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillAccountbookereceiptApplyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_accountbookereceipt_apply_default_response'
          description: 请求失败
      summary: 申请子账本电子回单(incubating)
      tags:
      - alipay.data.bill.accountbookereceipt
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/data/bill/accountbookereceipt/query:
    get:
      description: 电子签章申请分两个步骤： 1、使用alipay.data.bill.ereceipt.apply创建申请，并获取file_id信息。
        2、等待一段时间后，使用file_id查询alipay.data.bill.ereceipt.query申请信息。 单个申请建议每5分钟查询一次状态。汇总回单建议30分钟查询一次
      operationId: alipay.data.bill.accountbookereceipt.query
      parameters:
      - description: 根据申请id查询状态。申请接口可以参考alipay.data.bill.ereceiptagent.apply
        explode: true
        in: query
        name: file_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      - description: 协议号，根据不同业务协议类型，传入对应类型的协议号，用于isv授权检查并获取商户信息。如果业务类型未指定，则使用默认类型对应的协议号。
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20205215001418078112"
          type: string
        style: form
      - description: 根据不同业务协议类型，传入不同参数。传入协议产品码（personal_product_code，通过协议查询接口、协议签约通知响应参数获取），不填的话默认按照示例值传入
        explode: true
        in: query
        name: agreement_type
        required: false
        schema:
          example: FUND_SAFT_SIGN_WITHHOLDING_P
          type: string
        style: form
      - description: "true表示使用安全链接，即返回的下载链接为https。\t非true值的情况下，统一为false，使用http链接。"
        explode: true
        in: query
        name: secure
        required: false
        schema:
          example: "true"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillAccountbookereceiptQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_accountbookereceipt_query_default_response'
          description: 请求失败
      summary: 查询子账本电子回单状态(incubating)
      tags:
      - alipay.data.bill.accountbookereceipt
      x-accepts: application/json
  /v3/alipay/data/bill/accountlog/query:
    get:
      description: 为支付宝商家提供支付宝账户的账务流水信息，供对账使用。
      operationId: alipay.data.bill.accountlog.query
      parameters:
      - description: 账务流水创建时间的起始范围。只能查询一年内的记录。精确查询不需要指定
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 账务流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间。精确查询不需要指定
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 支付宝订单号，通过支付宝订单号精确查询相关的流水明细。支付宝订单号和商户订单号互斥。选择支付宝订单号时，不可选商户订单号。
        explode: true
        in: query
        name: alipay_order_no
        required: false
        schema:
          example: 20190101***
          type: string
        style: form
      - description: 商户订单号，通过商户订单号精确查询相关的流水明细。支付宝订单号和商户订单号互斥。选择商户订单号时，不可选支付宝订单号。
        explode: true
        in: query
        name: merchant_order_no
        required: false
        schema:
          example: TX***
          type: string
        style: form
      - description: 分页号，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      - description: 账务的类型代码，特殊场景下使用
        explode: true
        in: query
        name: trans_code
        required: false
        schema:
          example: "101101,301101"
          type: string
        style: form
      - description: 协议授权码，特殊场景下使用
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20215606000635888888"
          type: string
        style: form
      - description: 协议产品码。特殊场景下使用
        explode: true
        in: query
        name: agreement_product_code
        required: false
        schema:
          example: FUND_SIGN_WITHHOLDING
          type: string
        style: form
      - description: 指定用户做账单查询
        explode: true
        in: query
        name: bill_user_id
        required: false
        schema:
          example: "2088123456789012"
          type: string
        style: form
      - description: 用于标记支付宝用户在应用下的唯一标识
        explode: true
        in: query
        name: open_id
        required: false
        schema:
          example: 074a1CcTG1LelxKe4xQC0zgNdId0nxi95b5lsNpazWYoCo5
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillAccountlogQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_accountlog_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户账务明细查询
      tags:
      - alipay.data.bill.accountlog
      x-accepts: application/json
  /v3/alipay/data/bill/bail/query:
    get:
      description: 为支付宝商家提供支付宝账户保证金信息，供对账使用。
      operationId: alipay.data.bill.bail.query
      parameters:
      - description: 保证金流水创建时间的起始范围
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 保证金流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 保证金类型，目前支持TMALL_S_BAIL-天猫保证金，TAOBAO_BAIL-淘宝保证金
        explode: true
        in: query
        name: bail_type
        required: false
        schema:
          example: TMALL_S_BAIL
          type: string
        style: form
      - description: 保证金流水号。如果查询参数中指定流水号，则只查询流水号相关的记录
        explode: true
        in: query
        name: trans_log_id
        required: false
        schema:
          example: 20190101***
          type: string
        style: form
      - description: 业务基础订单号。如果查询参数中指定订单号，则只查询相关的记录
        explode: true
        in: query
        name: biz_orig_no
        required: false
        schema:
          example: 1***
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillBailQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_bail_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户保证金查询
      tags:
      - alipay.data.bill.bail
      x-accepts: application/json
  /v3/alipay/data/bill/balance/query:
    get:
      description: 为支付宝商家提供支付宝账户当前余额信息，包括冻结金额，可用余额和总额，供对账使用。
      operationId: alipay.data.bill.balance.query
      parameters:
      - description: 目标查询账户（仅支持部分场景，查询自身时候不需要传递当前字段）。
        explode: true
        in: query
        name: bill_user_id
        required: false
        schema:
          example: "2088123456789012"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillBalanceQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_balance_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户当前余额查询
      tags:
      - alipay.data.bill.balance
      x-accepts: application/json
  /v3/alipay/data/bill/balancehis/query:
    get:
      description: 为支付宝商家提供支付宝账户历史余额信息，供对账使用。
      operationId: alipay.data.bill.balancehis.query
      parameters:
      - description: 查询指定自然日的起初余额和期末余额，biz_date与biz_month传入参数互斥
        explode: true
        in: query
        name: biz_date
        required: false
        schema:
          example: 2019-08-01
          type: string
        style: form
      - description: 查询指定自然月的起初余额和期末余额，biz_date与biz_month传入参数互斥
        explode: true
        in: query
        name: biz_month
        required: false
        schema:
          example: 2019-08
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillBalancehisQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_balancehis_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户历史余额查询
      tags:
      - alipay.data.bill.balancehis
      x-accepts: application/json
  /v3/alipay/data/bill/bizfundagent/query:
    get:
      description: 用于ISV代理商户查询商户的资金业务账单
      operationId: alipay.data.bill.bizfundagent.query
      parameters:
      - description: 账单查询时间范围 -- 起始时间
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2021-01-01 00:00:00
          type: string
        style: form
      - description: 账单查询时间范围 -- 结束范围。时间范围最大不超过31天。
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2021-02-01 00:00:00
          type: string
        style: form
      - description: 页码，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      - description: 根据不同业务协议类型，传入不同参数。传入协议产品码（personal_product_code，通过协议查询接口、协议签约通知响应参数获取），不填的话默认按照示例值传入。
          安全发协议：FUND_SAFT_SIGN_WITHHOLDING_P 专用金协议：FLEXIBLE_EMPLOYMENT_SERVICE_P
        explode: true
        in: query
        name: agreement_type
        required: false
        schema:
          example: FUND_SAFT_SIGN_WITHHOLDING_P
          type: string
        style: form
      - description: ISV与商户授权协议号
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20205215001418078112"
          type: string
        style: form
      - description: 记账本id，服务商在帮助商户开通时候获取的唯一身份号
        explode: true
        in: query
        name: account_book_id
        required: false
        schema:
          example: "20880123456789012"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillBizfundagentQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_bizfundagent_query_default_response'
          description: 请求失败
      summary: ISV代理商户资金业务账单查询
      tags:
      - alipay.data.bill.bizfundagent
      x-accepts: application/json
  /v3/alipay/data/bill/buy/query:
    get:
      description: 为支付宝商家提供支付宝账户买入交易信息，供对账使用。
      operationId: alipay.data.bill.buy.query
      parameters:
      - description: 交易流水创建时间的起始范围
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 交易流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 支付宝交易流水号。如果查询参数中指定流水号，则只查询流水号相关的记录
        explode: true
        in: query
        name: alipay_order_no
        required: false
        schema:
          example: 20190101***
          type: string
        style: form
      - description: 商户交易号。如果查询参数中指定交易号，则只查询相关的记录
        explode: true
        in: query
        name: merchant_order_no
        required: false
        schema:
          example: TX***
          type: string
        style: form
      - description: 门店编号，模糊搜索
        explode: true
        in: query
        name: store_no
        required: false
        schema:
          example: 门店1
          type: string
        style: form
      - description: 分页号，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillBuyQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_buy_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户买入交易查询
      tags:
      - alipay.data.bill.buy
      x-accepts: application/json
  /v3/alipay/data/bill/ereceipt/apply:
    post:
      description: "支持商家下载多种类型支付宝资金凭证。包括：余额收支证明、余额收支流水证明、转入转出收支证明、收支汇总证明（日汇总）以及收支汇\
        总证明（月汇总）。\n 账单凭证申请分两个步骤： \n1、使用alipay.data.bill.ereceipt.apply创建申请，并获取file_id信\
        息。 \n2、使用file_id查询alipay.data.bill.ereceipt.query获取回单信息，回单生成完毕将会返回对应的下载链接，\
        下载链接时效为30秒，过期将无法下载，需重新调用alipay.data.bill.ereceipt.query获取新的下载链接。"
      operationId: alipay.data.bill.ereceipt.apply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayDataBillEreceiptApplyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillEreceiptApplyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_ereceipt_apply_default_response'
          description: 请求失败
      summary: 申请电子回单(incubating)
      tags:
      - alipay.data.bill.ereceipt
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/data/bill/ereceipt/query:
    get:
      description: |-
        电子签章申请分两个步骤：

        1、使用alipay.data.bill.ereceipt.apply创建申请，并获取file_id信息。
        2、等待一段时间后，使用file_id查询alipay.data.bill.ereceipt.query申请信息。

        单个申请建议每5分钟查询一次状态。批量回单建议20分钟查询一次。汇总回单建议30分钟查询一次
      operationId: alipay.data.bill.ereceipt.query
      parameters:
      - description: 根据申请id查询状态。通过 <a href="https://opendocs.alipay.com/apis/api_15/alipay.data.bill.ereceipt.apply">alipay.data.bill.ereceipt.apply(申请电子回单(incubating))</a>
          接口同步响应获取。
        explode: true
        in: query
        name: file_id
        required: false
        schema:
          example: "12345"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillEreceiptQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_ereceipt_query_default_response'
          description: 请求失败
      summary: 查询电子回单状态(incubating)
      tags:
      - alipay.data.bill.ereceipt
      x-accepts: application/json
  /v3/alipay/data/bill/ereceiptagent/apply:
    post:
      description: "ISV代理商户，申请商户的资金业务回单。 \n电子签章申请分两个步骤： 1、使用alipay.data.bill.ereceiptagent.apply创\
        建申请，并获取file_id信息。 2、等待一段时间后，使用file_id查询alipay.data.bill.ereceipt.query申请信息\
        。单个申请建议每5分钟查询一次状态，汇总（日/月）回单建议20分钟查询一次。月初回单生成较慢，请耐心等待（汇总回单在月初申请需要等待几个小时） 注：\
        申请成功，并不代表明细查询的流水一定存在。如果流水不存在，在查询时将会提示。\n"
      operationId: alipay.data.bill.ereceiptagent.apply
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AlipayDataBillEreceiptagentApplyModel'
        required: false
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillEreceiptagentApplyResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_ereceiptagent_apply_default_response'
          description: 请求失败
      summary: ISV代理商户申请电子回单
      tags:
      - alipay.data.bill.ereceiptagent
      x-content-type: application/json
      x-accepts: application/json
  /v3/alipay/data/bill/sell/query:
    get:
      description: 为支付宝商家提供支付宝账户卖出交易信息，供对账使用。
      operationId: alipay.data.bill.sell.query
      parameters:
      - description: 卖出交易流水创建时间的起始范围
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 卖出交易流水创建时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 支付宝交易流水号。如果查询参数中指定流水号，则只查询流水号相关的记录
        explode: true
        in: query
        name: alipay_order_no
        required: false
        schema:
          example: 20190101***
          type: string
        style: form
      - description: 商户交易号。如果查询参数中指定交易号，则只查询相关的记录
        explode: true
        in: query
        name: merchant_order_no
        required: false
        schema:
          example: TX***
          type: string
        style: form
      - description: 门店编号，模糊搜索
        explode: true
        in: query
        name: store_no
        required: false
        schema:
          example: 门店1
          type: string
        style: form
      - description: 分页号，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillSellQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_sell_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户卖出交易查询
      tags:
      - alipay.data.bill.sell
      x-accepts: application/json
  /v3/alipay/data/bill/transfer/query:
    get:
      description: 为支付宝商家提供支付宝账户充值，转账，提现信息，供对账使用。
      operationId: alipay.data.bill.transfer.query
      parameters:
      - description: 充值、转账、提现流水业务时间的起始范围
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 充值、转账、提现流水业务时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 转账类型：充值-DEPOSIT，提现-WITHDRAW，转账-TRANSFER。
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: DEPOSIT
          type: string
        style: form
      - description: 分页号，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillTransferQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_transfer_query_default_response'
          description: 请求失败
      summary: 支付宝商家账户充值，转账，提现查询
      tags:
      - alipay.data.bill.transfer
      x-accepts: application/json
  /v3/alipay/data/bill/transferaccountbook/query:
    get:
      description: 子账本充提转账单查询（子账本业务定制接口）
      operationId: alipay.data.bill.transferaccountbook.query
      parameters:
      - description: 充值、转账、提现流水业务时间的起始范围
        explode: true
        in: query
        name: start_time
        required: false
        schema:
          example: 2019-01-01 00:00:00
          type: string
        style: form
      - description: 充值、转账、提现流水业务时间的结束范围。与起始时间间隔不超过31天。查询结果为起始时间至结束时间的左闭右开区间
        explode: true
        in: query
        name: end_time
        required: false
        schema:
          example: 2019-01-02 00:00:00
          type: string
        style: form
      - description: 转账类型：充值-DEPOSIT，提现-WITHDRAW，转账-TRANSFER。
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: TRANSFER
          type: string
        style: form
      - description: 协议号
        explode: true
        in: query
        name: agreement_no
        required: false
        schema:
          example: "20205215001418078112"
          type: string
        style: form
      - description: 子账本号，或者子账本名称。模糊查询
        explode: true
        in: query
        name: store_no
        required: false
        schema:
          example: "2088000117463004"
          type: string
        style: form
      - description: 分页号，从1开始
        explode: true
        in: query
        name: page_no
        required: false
        schema:
          example: "1"
          type: string
        style: form
      - description: 分页大小1000-2000，默认2000
        explode: true
        in: query
        name: page_size
        required: false
        schema:
          example: "2000"
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AlipayDataBillTransferaccountbookQueryResponseModel'
          description: common response
        default:
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/alipay_data_bill_transferaccountbook_query_default_response'
[...]
